Вам пришло новое сообщение на сайте Mednet
============================================

Тема сообщения: 404 Ошибка
==========================================
- if @current_user.present?
  Пользователь:
  = @current_user.username

  Организация:
  = @current_user.organization.name
- else
  Пользователь не указан
==========================================
Запрос:
= @request.original_fullpath

IP адрес:
= @request.remote_ip
==========================================
Параметры запроса:
= @request.request_parameters
==========================================
Дата и время:
= Time.now