Вам пришло новое сообщение на сайте Mednet
===============================================

Тема сообщения:
= @error
==========================================
- if @current_user.present?
  Пользователь:
  = @current_user.username
- else
  Пользователь не указан

==========================================
Запрос:
= @request.original_fullpath
==========================================
Параметры запроса:
= @request.request_parameters

==========================================
Дата и время:
= Time.now